* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: all 0.3s ease-out 0s;
  -moz-appearance: textfield;
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
